# US Treasury Yield Spread
#### Class 6
### Import Libaries

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from tqdm import tqdm
import warnings
warnings.filterwarnings('ignore')

## Extract Data

In [14]:
class InterestRates:
    
    def __init__(self, Y):
        self.Y = Y
        
    def USTreasury(self, ratesCurve=False, COBDate=None):
        USTreasuryData = pd.read_csv(f'https://home.treasury.gov/resource-center/data-chart-center/interest-rates/daily-treasury-rates.csv/{self.Y}/all?type=daily_treasury_yield_curve&field_tdr_date_value={self.Y}&page&_format=csv', index_col='Date').iloc[::-1]
        USTreasuryData.index = pd.to_datetime(USTreasuryData.index)
        if  ratesCurve == True:
            if COBDate == None:
                return USTreasuryData[USTreasuryData.index == USTreasuryData.index.max()]
            else:
                return USTreasuryData[USTreasuryData.index == COBDate]
        else:
            return USTreasuryData

## Yield Spread

In [17]:
USTreasuryCurve = InterestRates(Y=2023).USTreasury(ratesCurve=True, COBDate=None)
USTreasuryCurve

,1 Mo,2 Mo,3 Mo,4 Mo,6 Mo,1 Yr,2 Yr,3 Yr,5 Yr,7 Yr,10 Yr,20 Yr,30 Yr
Date,,,,,,,,,,,,,
2023-12-29,5.6,5.59,5.4,5.41,5.26,4.79,4.23,4.01,3.84,3.88,3.88,4.2,4.03

In [19]:
USTreasurySpread = (USTreasuryCurve['10 Yr'] - USTreasuryCurve['3 Mo']).values[0] * 100
print(USTreasurySpread)

-152.00000000000006

In [33]:
tenorBucket = USTreasuryCurve.columns

USTreasurySpread = pd.DataFrame()
for tenor in tenorBucket:
    yieldSpread = pd.DataFrame(USTreasuryCurve - USTreasuryCurve[tenor].values[0]) * 100
    yieldSpread.index = [tenor]
    USTreasurySpread = pd.concat([USTreasurySpread, yieldSpread])
USTreasurySpread

,1 Mo,2 Mo,3 Mo,4 Mo,6 Mo,1 Yr,2 Yr,3 Yr,5 Yr,7 Yr,10 Yr,20 Yr,30 Yr
1 Mo,0.0,-1.0,-20.0,-19.0,-34.0,-81.0,-137.0,-159.0,-176.0,-172.0,-172.0,-140.0,-157.0
2 Mo,1.0,0.0,-19.0,-18.0,-33.0,-80.0,-136.0,-158.0,-175.0,-171.0,-171.0,-139.0,-156.0
3 Mo,20.0,19.0,0.0,1.0,-14.0,-61.0,-117.0,-139.0,-156.0,-152.0,-152.0,-120.0,-137.0
4 Mo,19.0,18.0,-1.0,0.0,-15.0,-62.0,-118.0,-140.0,-157.0,-153.0,-153.0,-121.0,-138.0
6 Mo,34.0,33.0,14.0,15.0,0.0,-47.0,-103.0,-125.0,-142.0,-138.0,-138.0,-106.0,-123.0
1 Yr,81.0,80.0,61.0,62.0,47.0,0.0,-56.0,-78.0,-95.0,-91.0,-91.0,-59.0,-76.0
2 Yr,137.0,136.0,117.0,118.0,103.0,56.0,0.0,-22.0,-39.0,-35.0,-35.0,-3.0,-20.0
3 Yr,159.0,158.0,139.0,140.0,125.0,78.0,22.0,0.0,-17.0,-13.0,-13.0,19.0,2.0
5 Yr,176.0,175.0,156.0,157.0,142.0,95.0,39.0,17.0,0.0,4.0,4.0,36.0,19.0
7 Yr,172.0,171.0,152.0,153.0,138.0,91.0,35.0,13.0,-4.0,0.0,0.0,32.0,15.0
10 Yr,172.0,171.0,152.0,153.0,138.0,91.0,35.0,13.0,-4.0,0.0,0.0,32.0,15.0
20 Yr,140.0,139.0,120.0,121.0,106.0,59.0,3.0,-19.0,-36.0,-32.0,-32.0,0.0,-17.0
30 Yr,157.0,156.0,137.0,138.0,123.0,76.0,20.0,-2.0,-19.0,-15.0,-15.0,17.0,0.0

In [35]:
Years = range(1990,2024)

USTereasuryData = pd.DataFrame()
for Year in Years:
    tempData = InterestRates(Y = Year).USTreasury()
    USTereasuryData = pd.concat([USTereasuryData, tempData])

In [37]:
USTereasuryData.to_csv('Historical Time-Series Data Of Intrest.csv')

In [39]:
pd.read_csv('Historical Time-Series Data Of Intrest.csv')

,Date,3 Mo,6 Mo,1 Yr,2 Yr,3 Yr,5 Yr,7 Yr,10 Yr,30 Yr,20 Yr,1 Mo,2 Mo,4 Mo
0,1990-01-02,7.83,7.89,7.81,7.87,7.90,7.87,7.98,7.94,8.00,NaN,NaN,NaN,NaN
1,1990-01-03,7.89,7.94,7.85,7.94,7.96,7.92,8.04,7.99,8.04,NaN,NaN,NaN,NaN
2,1990-01-04,7.84,7.90,7.82,7.92,7.93,7.91,8.02,7.98,8.04,NaN,NaN,NaN,NaN
3,1990-01-05,7.79,7.85,7.79,7.90,7.94,7.92,8.03,7.99,8.06,NaN,NaN,NaN,NaN
4,1990-01-08,7.79,7.88,7.81,7.90,7.95,7.92,8.05,8.02,8.09,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8502,2023-12-22,5.44,5.31,4.82,4.31,4.04,3.87,3.92,3.90,4.05,4.21,5.54,5.52,5.45
8503,2023-12-26,5.45,5.28,4.83,4.26,4.05,3.89,3.91,3.89,4.04,4.20,5.53,5.52,5.44
8504,2023-12-27,5.44,5.26,4.79,4.20,3.97,3.78,3.81,3.79,3.95,4.10,5.55,5.53,5.42
8505,2023-12-28,5.45,5.28,4.82,4.26,4.02,3.83,3.84,3.84,3.98,4.14,5.57,5.55,5.42
8506,2023-12-29,5.40,5.26,4.79,4.23,4.01,3.84,3.88,3.88,4.03,4.20,5.60,5.59,5.41

In [63]:
tsYieldSpread = USTereasuryData['10 Yr'] - USTereasuryData['3 Mo']
tsYieldSpread_Neg = tsYieldSpread[tsYieldSpread < 0.0]
tsYieldSpread_High, tsYieldSpread_Low = tsYieldSpread.max(), tsYieldSpread.min()
tsYieldSpread_HighDate = tsYieldSpread[tsYieldSpread == tsYieldSpread_High].index[0]
tsYieldSpread_LowDate = tsYieldSpread[tsYieldSpread == tsYieldSpread_Low].index[0]

tsYieldSpread_Current = tsYieldSpread[tsYieldSpread.index == tsYieldSpread.index.max()].values[0]
tsYieldSpread_CurrentDate = tsYieldSpread[tsYieldSpread.index == tsYieldSpread.index.max()].index[0]